@import url("https://fonts.googleapis.com/css?family=Lato");
$primary_color: #707070;
$font_stack: Lato, sans-serif;
$bp_mobile: 350px;
$bp_tablet: 768px;
$bp_desktop: 992px; // Global styles

body {
  font-family: $font_stack;
  margin: 20px;
  padding: 0;
  @media only screen and (min-width: $bp_desktop) {
    border-top: 3px solid #000;
  }
}

ul {
  padding: 0;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  color: $primary_color;
  font-weight: normal;
  letter-spacing: 5px;
  margin: 0;
  font-size: 20px;
  @media only screen and (min-width: $bp_tablet) {
    font-size: 30px;
  }
}

p {
  margin: 10px 0;
}

figcaption {
  text-align: center;
}

main {
  margin: 20px 10px;
  @media only screen and (min-width: $bp_desktop) {
    margin: 20px 60px;
  }
}
// Header

header {
  padding-top: 2%;
  text-align: center;
  text-transform: uppercase;

  h1 {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #000;
    @media only screen and (max-width: $bp_mobile) {
      font-size: 20px;
    }
    @media only screen and (min-width: $bp_tablet) {
      margin-bottom: 30px;
      clear: both;
    }
  }

  a {
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
  }
}

.top-menu {
  display: none;
  float: right;
  @media only screen and (min-width: $bp_tablet) {
    display: block;
  }

  a {
    overflow: hidden;
    background-color: #fff;

    &:first-child {
      margin-right: 20px;
    }

    &:hover {
      color: #969696;
    }
  }
}

.menu {
  clear: both;
  overflow: hidden;
  display: block;
  float: none;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
  @media only screen and (min-width: $bp_tablet) {
    clear: none;
    max-height: none;
    margin-bottom: 15px;
  }

  a {
    display: block;
    background-color: #eeeeee;
    padding-right: 10px;
    border-bottom: 1px solid #e2e0e0;
    @media only screen and (min-width: $bp_tablet) {
      display: inline-block;
      background-color: transparent;
      font-weight: 600;
      margin-right: 10px;
      padding: 0;
      border: 0;
    }

    &:hover {
      background-color: #969696;
      color: #FFF;
      @media only screen and (min-width: $bp_tablet) {
        background-color: transparent;
        color: #969696;
      }
    }
  }
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  margin-top: 10px;
  position: relative;
  user-select: none;
  @media only screen and (min-width: $bp_tablet) {
    display: none;
  }
}

.navicon {
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;

  &:before {
    top: 5px;
  }

  &:after {
    top: -5px;
  }

  &:after,
  &:before {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
}

.menu-btn {
  display: none;

  &:checked ~ .menu {
    max-height: 240px;
  }

  &:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  &:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  &:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  &:checked ~ .menu-icon:not(.steps) .navicon:after,
  &:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
  }
}
//site-banner

.site-banner {
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
  height: 30vh;
  background-image: url("../img/girls-header.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
  color: #fff;
  @media only screen and (max-width: $bp_desktop) and (orientation: landscape) {
    height: 50vh;
  }
  @media only screen and (min-width: $bp_desktop) {
    height: 60vh;
  }

  h1 {
    color: #fff;
    font-size: 30px;
    margin: 0 0 10px;
    letter-spacing: 5px;
    @media only screen and (min-width: $bp_tablet) {
      font-size: 50px;
      letter-spacing: 10px;
    }
    @media only screen and (min-width: $bp_desktop) {
      font-size: 70px;
      letter-spacing: 15px;
    }
  }

  h5 {
    margin: 0 5px;
    font-size: 18px;
    font-weight: normal;
    @media only screen and (min-width: $bp_tablet) {
      letter-spacing: 6px;
    }
    @media only screen and (min-width: $bp_desktop) {
      font-size: 25px;
    }
  }

  p {
    margin: 0;
    font-size: 15px;
    @media only screen and (min-width: $bp_tablet) {
      font-size: 10px;
    }
  }
}

.vertical-aligned {
  display: table-cell;
  vertical-align: middle;
}
//products-list

.products-list {
  h1 {
    margin: 0 0 10px 5px;
  }
}

.product {
  display: inline-block;
  margin: 0 5px;
  width: calc(33% - 12px);
  text-transform: uppercase;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }

  h4 {
    font-size: 10px;
    text-transform: uppercase;
    color: $primary_color;
    font-weight: 400;
    margin: 5px 0 0;
    @media only screen and (min-width: $bp_tablet) {
      font-size: 20px;
    }
  }

  span {
    font-size: 8px;
    @media only screen and (min-width: $bp_tablet) {
      font-size: 15px;
    }
  }

  .product-price {
    text-decoration: line-through;
    margin-right: 5px;
  }

  .product-discount {
    color: #f00;
  }
}
//about-us

.about-us {
  margin: 20px 0;

  ul {
    padding-left: 20px;
    margin-left: 10%;
  }
}

.products-slider {
  position: relative;

  h1 {
    margin: 0 0 10px;
  }
}

.arrow {
  width: 18px;
  height: 18px;
  border-color: #000;
  position: absolute;
  top: 50%;
  border-bottom: 4px solid;
  border-left: 4px solid;

  &:hover {
    cursor: pointer;
    color: $primary_color;
  }
}

.prev {
  transform: rotate(45deg);
  left: -10px;
}

.next {
  transform: rotate(-135deg);
  right: -10px;
}

.picture-item {
  display: inline-block;
  margin: 0 10px;
  width: calc(50% - 20px);
  text-transform: uppercase;
  font-size: 14px;
  overflow: hidden;
  @media only screen and (min-width: $bp_tablet) {
    font-size: 20px;
  }
  @media only screen and (min-width: $bp_desktop) {
    width: calc(25% - 20px);
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
//login-details

.login {
  overflow: hidden;
}

.login-details {
  margin-top: 20px;
  @media only screen and (min-width: $bp_desktop) {
    float: left;
    width: calc(50% - 10px);
    margin-right: 10px;
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
    padding-bottom: 3px;
    border-bottom: 2px solid #e5e5e5;
  }
}

.login-form {
  margin: 10px 0;
  font-weight: bold;

  li {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 3px;
    @media only screen and (max-width: 375px) {
      font-size: 12px;
    }
  }

  label:first-child {
    display: inline-block;
    width: 165px;
    @media only screen and (max-width: 375px) {
      width: 135px;
    }
  }

  button {
    margin: 10px 0 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 0;
  }

  .required {
    color: #f00;
  }
}

.form-messages {
  color: #e67582;
  font-size: 12px;
  float: right;
  margin: 0;
  @media only screen and (min-width: $bp_tablet) {
    font-size: 16px;
  }
}

.customer-status {
  clear: both;
  font-weight: normal;
  font-size: 12px;

  li {
    letter-spacing: 0;
    text-transform: none;
  }

  #newCustomer {
    float: left;
  }
}

.form-control {
  display: inline-block;
  width: calc(100% - 198px);
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  @media only screen and (max-width: 375px) {
    width: calc(100% - 167px);
    font-size: 10px;
  }
}
//loginInfo

.login-info {
  background-color: #eeeeee;
  padding: 10px;
  @media only screen and (min-width: $bp_desktop) {
    float: left;
    min-height: 250px;
    width: calc(50% - 10px);
    margin: 30px 0 0 10px;
    padding: 10px 0;

    p {
      margin: 15px;
    }
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 0 20px;
    @media only screen and (min-width: $bp_tablet) {
      letter-spacing: 7px;
      font-size: 18px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
// footer

footer {
  margin: 0 10px;
  clear: both;
  @media only screen and (min-width: $bp_desktop) {
    padding: 15px 0;
    border-top: 2px solid #e5e5e5;
    overflow: hidden;
  }
}

.newsletter {
  text-align: center;
  @media only screen and (min-width: $bp_desktop) {
    float: right;
  }

  h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 5px;
    @media only screen and (max-width: $bp_mobile) {
      font-size: 14px;
    }
  }

  input {
    border-radius: 4px 0 0 4px;
  }

  button {
    background-color: #000;
    color: #fff;
    border-radius: 0 4px 4px 0;
  }

  button,
  input {
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: inherit;
    padding: 8px 9px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
}

.footer-navigation {
  margin: 15px 0;
  color: #dfdfdf;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  @media only screen and (min-width: $bp_desktop) {
    margin: 0;
    float: left;
  }

  li {
    display: inline;
    margin-right: 10px;
  }

  li:first-child {
    margin-right: 0;
    @media only screen and (min-width: $bp_tablet) {
      margin-right: 10px;
    }
  }
}
